<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Verification Email</title>
</head>

<body>
    <h2>Hello {{username}}!, {{greetingsText}} </h2>
    <p>Here's the details to remember. These are the details used for registeration</p>
    <p>Username - {{username}}</p>
    Please click here to verify your Email
    <a href={{url}} target="_blank">Verify Email</a>
</body>

</html>